<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>


<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
</head>
<body>
     <div class="contianer">
     
     <div class="card">
     <div class="card-header bg-primary text-center text-white">
     <h1>OrderData</h1>
     </div>
     <div class="card-body">
<table class="table table-hover">
<tr class="bg-info text-center text-white">
<th>ID</th>
<th>Order Mode</th>
<th>OrderCode</th>
<th>Order Type</th>
<th>Order Acceptance</th>
<th>Description</th>
<th colspan="2">Operations</th>
   </tr>
   
   <tr th:each="ob:${list}"  class="text-center">
   <td th:text="${ob.id}"></td>
    <td th:text="${ob.orderMode}"></td>
   <td th:text="${ob.orderCode}"></td>
   <td th:text="${ob.orderType}"></td>
   <td th:text="${ob.orderAcpt}"></td>
   <td th:text="${ob.orderDesc}"></td>
   <td><a th:href="@{/ordermethod/edit/{id}(id=${ob.id})}" class="btn btn-success">Edit</a></td>
    <td><a th:href="@{/ordermethod/delete/{id}(id=${ob.id})}" class="btn btn-danger">Delete</a></td>
  
   </tr>
   </table>  
     </div>
     <div class="card-footer alert alert-success text-center" th:if="${msg!=null}">
     <span th:text="${msg}"></span>
     </div>
     </div>
     </div>
</body>
</html>